/* Site Font | Omonjon */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

/* Bootstrap tools | Omonjon */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-font: 'Inter';
    --primary-shadow: 0px 6px 12px -2px #58528114;
    --primary-transition: .4s;
}

body {
    font-family: var(--primary-font);
    font-weight: 400;
    font-size: 1rem;
}

.body-font {
    font-family: 'Muller', sans-serif;
}

.no-select {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    pointer-events: none;
    cursor: default;
}

.bg-aqua {
    background: #F6F9FC !important;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    padding-right: 0;
    padding-left: 0;
    padding-bottom: 0;
    padding-top: 0;
}

.accordion-button::after {
    display: none;
    display: none;
}

button[aria-expanded^="true"] img {
    transform: rotate(-180deg) !important;
    background: transparent !important;
    box-shadow: 0 0 90px 0 var(--bs-secondary);
}

button[aria-expanded^="true"] i {
    transform: rotate(-180deg) !important;
    background: transparent !important;
    box-shadow: 0 0 90px 0 var(--bs-secondary);
    color: var(--bs-secondary);
}

.btn-close:focus {
    box-shadow: initial;
}

.btn-primary {
    background-color: var(--bs-primary);
    color: var(--bs-white);
    border-radius: 15px;
    column-gap: 7px;
}

.btn-secondary {
    background-color: transparent;
    color: var(--bs-primary);
    border-radius: 15px;
    border: 1px solid var(--bs-primary);
    column-gap: 7px;
}

.bg-none {
    background: none !important;
}

.box-shadow-none {
    box-shadow: none !important;
}

.text-gray {
    color: var(--bs-gray) !important;
}

.fw-500{
    font-weight: 500 !important;
}

.fw-600{
    font-weight: 600 !important;
}

.text-link-gray {
    color: var(--bs-gray-100) !important;
}

.text-dark-gray {
    color: var(--bs-gray-dark) !important;
}

.form-control:focus {
    box-shadow: 0 0 0 0.25rem var(--bs-secondary);
    border-color: var(--bs-secondary);
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

.primary-shadow {
    box-shadow: var(--primary-shadow);
}

.cursor-pointer {
    cursor: pointer;
}

.btn:hover,
.btn:focus {
    background-color: transparent;
    border-color: transparent;
}

.fs-6 {
    font-size: 1.25rem !important;
}

.fs-18px {
    font-size: 18px !important;
}

.fs-7 {
    font-size: 1rem !important;
}

.fs-8 {
    font-size: 0.875rem !important;
}

.fs-9 {
    font-size: 0.75rem !important;
}

.w-max-content {
    width: max-content !important;
}

.opacity-7 {
    opacity: 0.7;
}

.outline-none {
    outline: none;
}

.transition {
    transition: var(--primary-transition);
}

input,
button {
    outline: none;
}

.border-none {
    border: none;
}

.primary-hover:hover {
    color: var(--bs-primary) !important;
}

.scroll-behavior {
    scroll-behavior: smooth !important;
}

li,
ul,
ol {
    list-style: none;
    padding: 0;
    margin: 0;
}

p {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

/* ==================== LOADER | Omonjon ==================== */
.load {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: auto 0;
    background-color: var(--bs-white);
    display: grid;
    place-items: center;
    z-index: 100;
}

.load .load-gif {
    max-width: 500px;
    width: 100%;
    height: 100%;
}

/* ==================== HEADER | Omonjon ==================== */
.header {
    background: url("../images/bg-lines.jpg") no-repeat center/cover;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    background: white;
    z-index: 10;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.dropdown-arrow.show::after {
    transform: rotate(-135deg);
}

.nav-item-top {
    border: 2px solid #D7DDE2;
    border-radius: 15px;
}

.dropdown-arrow::after {
    border-bottom: 2px solid #999;
    border-right: 2px solid #999;
    border-left: initial !important;
    border-top: initial !important;
    content: "";
    display: block;
    height: 6px;
    margin-top: -4px;
    pointer-events: none;
    position: absolute;
    right: 13px;
    top: 52%;
    transform-origin: 66% 66%;
    transform: rotate(45deg);
    /* transition: all .15s ease-in-out; */
    transition: var(--primary-transition);
    width: 6px;
}

/* ==================== INTRO | Omonjon ==================== */
.intro-section {
    background: url("../images/bg-lines.jpg") no-repeat center/cover;
}

/* ==================== CALCULATE | Omonjon ==================== */
.bg-calculate {
    background: url("../images/laptop-bg.jpg") no-repeat center/cover;
    border-radius: 15px;
}

.calculate-section .nav-pills .nav-link.active {
    background-color: var(--bs-primary);
    color: var(--bs-white);
    border-radius: 15px;
    padding: 10px 20px;
}

.calculate-section .nav-pills .nav-link {
    background-color: var(--bs-white);
    color: var(--bs-gray);
    font-size: 14px;
    font-weight: 600;
    border-radius: 15px;
    padding: 10px 20px;
}

.osago-calculate {
    max-width: 508px;
    width: 100%;
}

.osago-calculate .car-series-number,
.osago-calculate .car-number,
.osago-calculate .car-series {
    padding: 15px 10px;
    background: rgba(246, 249, 252, 1);
    border: 1px solid transparent;
}

.osago-calculate .car-series-number:focus,
.osago-calculate .car-number:focus,
.osago-calculate .car-series:focus {
    border: 1px solid #B4BBC3;
    padding: 15px 10px;
    background: linear-gradient(0deg, #EDF1F5, #EDF1F5),
    linear-gradient(0deg, #B4BBC3, #B4BBC3);
}

.osago-calculate .car-series-number ,
.osago-calculate .car-number,
.osago-calculate .car-series {
    color: var(--bs-gray);
}

.osago-calculate .car-series-number::placeholder,
.osago-calculate .car-number::placeholder,
.osago-calculate .car-series::placeholder {
    color: #858C97;
}

.osago-calculate .car-number {
    width: 126px;
}

.osago-calculate .car-series-number {
    width: 104px;
}

.osago-calculate .car-series {
    width: 79px;
}

.osago-calculate-btn {
    padding: 15px 25px;
}
.award-wh {
    width: 132px;
    height: 59px;
}

.osago-clients-imgs {
    width: 282px;
}

.osago-clients-imgs .position-relative{
    width: 138px;
    height: 48px !important;
}

.client-avatars {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    border: 1.17px solid white;
}

.client-avatar-1 {
    left: 0;
    z-index: 1;
}

.client-avatar-2{
    left: 25px;
    z-index: 2;
}

.client-avatar-3{
    left: 50px;
    z-index: 3;
}

.client-avatar-4{
    left: 75px;
    z-index: 3;
}

/*=============== QUOTE | Omonjon ===============*/
.quote-bg {
    background: url(../images/bg-how-much.jpg) no-repeat center/cover;
    min-height: 446px;
}

/*=============== SCROLL BAR | Omonjon ===============*/
::-webkit-scrollbar {
    width: .6rem;
    border-radius: .5rem;
    background-color: var(--bs-primary);
}

::-webkit-scrollbar-thumb {
    background-color: var(--bs-secondary);
    border-radius: .5rem;
}

::-webkit-scrollbar-thumb:hover {
    background-color: yellow;
}

/*=============== SCROLL UP | Omonjon ===============*/
.scroll_up {
    position: fixed;
    right: 3.5rem;
    bottom: -100%;
    background-color: var(--bs-primary);
    display: inline-flex;
    padding: .35rem;
    border-radius: .25rem;
    font-size: 1.1rem;
    color: var(--bs-white);
    z-index: 10;
    transition: bottom .4s, transform .4s, background-color .4s;
}

.scroll_up:hover {
    transform: translateY(-.35rem);
    background-color: var(--bs-white);
    color: black;
}

/* Show Scroll Up*/
.show-scroll {
    bottom: 4rem;
}